.prompt {
    font-family: monospace;
    font-size: 30px;
    text-shadow: 
        0 0 40px #d7ffdb,
        4px 4px 0px #000000;
    color: white;
}

p {
    font-family: monospace;
    font-size: 22px;
    color: white
}