.category, .prompt {
    font-family: monospace;
    font-size: 30px;
    text-shadow: 
        0 0 40px #d7ffdb,
        4px 4px 0px #000000;
    color: white;
}

pre {
    font-family: monospace;
    font-size: 15px;
    color: white;
    margin: 0;
    line-height: 0.8;
    overflow-x: auto;
    white-space: pre;
}