html {
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background: #000321;
background: linear-gradient(180deg, rgba(0, 3, 33, 1) 0%, rgba(0, 3, 34, 1) 3%, rgba(2, 0, 94, 1) 100%);
}

body {
    width: 80%;
    margin-top: 50px;
    margin-left: 100px;
    padding-bottom: 200px;
}

.navbar {
    font-family: monospace;
    font-weight: bold;
    text-shadow: 
        0 0 40px #d7ffdb,
        4px 4px 0px #000000;
    color: white;
    font-size: 30px;
    padding-right: 100px;
}

a {
    color: inherit;
    text-decoration: none;
}

.cursor {
    animation: blink 1s infinite step-end;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.navigation {
    display: grid;
    grid-template-columns: repeat(4, auto);
    font-family: monospace;
    list-style: none;
    width: fit-content;
    padding-left: 0;
    padding-right: 100px;
    margin-top: 30px;
    text-shadow: 2px 2px 5px #000000;
}

.navigation li, .bookmarks li {
    width: fit-content;
    color: white;
    font-family: monospace;
    font-size: 1.4rem;
    cursor: pointer;
    margin-right: 2rem;
    text-decoration: underline;
}

.navigation li:hover, .bookmarks li:hover {
    background-color: white;
    color: black;
}

hr {
    width: 486px;
    margin: 0;
    margin-top: 2rem;
    color: rgb(189, 189, 189);
}

.quote {
    width: 486px;
    font-family: monospace;
    font-size: 1.2rem;
    color: white;
    margin-top: 30px;
}

#author {
    padding-left: 2em;
}

#quotation {
    font-style: italic;
}

.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.footer img {
    opacity: 0.7;
    transition: opacity 0.3s;
    margin-right: 70px;
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
}

.footer img:hover {
    opacity: 1;
}

.ascii-art pre {
    margin-left: 75px;
    font-family: monospace;
    font-size: 12px;
    line-height: 1.2;
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
}

@media (max-width: 600px) {
    body {
        width: 95%;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
        min-height: 100dvh;
    }

    html {
        min-height: 100dvh;
    }
   
    .navbar {
        font-size: 24px;
        padding-right: 0;
    }   

    .navigation {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        margin-top: 20px
    }

    hr, .quote {
        width: 100%;
    }

    .quote {
        font-size: 1rem;
    }

    .footer img {
        margin-right: 15vw;
    }

    .ascii-art pre {
        margin-left: 0vw;
    }

}
.star {
    position: fixed;
    background: white;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    animation: twinkle infinite ease-in-out;
    pointer-events: none;
}

@keyframes twinkle {
    0% { opacity: 0.2; }
    50% { opacity: 0.8; }
    100% { opacity: 0.2; }
}