html {
    height: 100%;
    width: 100%;
    background: #00263d;
background: linear-gradient(90deg, rgba(0, 38, 61, 1) 0%, rgba(87, 199, 133, 1) 93%, rgba(237, 221, 83, 1) 100%);
    background-attachment: fixed;
}

body {
    width: 80%;
    margin-top: 50px;
    margin-left: 100px;
    padding-bottom: 200px;
}

.navbar {
    font-family: monospace;
    font-weight: bold;
    color: white;
    font-size: 30px;
    padding-right: 100px;
}

a {
    color: inherit;
    text-decoration: none;
}

.cursor {
    animation: blink 1s infinite step-end;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.navigation {
    display: grid;
    grid-template-columns: repeat(4, auto);
    font-family: monospace;
    list-style: none;
    width: fit-content;
    padding-left: 0;
    padding-right: 100px;
    margin-top: 30px;
}

.navigation li, .bookmarks li {
    width: fit-content;
    color: white;
    font-family: monospace;
    font-size: 1.4rem;
    cursor: pointer;
    margin-right: 2rem;
    text-decoration: underline;
}

.navigation li:hover, .bookmarks li:hover {
    background-color: white;
    color: black;
}

hr {
    width: 486px;
    margin: 0;
    margin-top: 2rem;
    color: rgb(189, 189, 189);
}

.quote {
    width: 486px;
    font-family: monospace;
    font-size: 1.2rem;
    color: white;
    margin-top: 30px;
}

#author {
    padding-left: 2em;
}

#quotation {
    font-style: italic;
}

.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.footer img {
    opacity: 0.7;
    transition: opacity 0.3s;
    margin-right: 70px;
}

.footer img:hover {
    opacity: 1;
}

.ascii-art pre {
    margin: 0;
    font-family: monospace;
    font-size: 12px;
    line-height: 1.2;
    color: #ffffff;
}

@media (max-width: 600px) {
    body {
        width: 95%;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
    }
   
    .navbar {
        font-size: 24px;
        padding-right: 0;
    }   

    .navigation {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        margin-top: 20px
    }

    hr, .quote {
        width: 100%;
    }

    .quote {
        font-size: 1rem;
    }

    .footer img {
        margin-right: 20px;
    }
}