.prompt, .cursor{
    font-family: monospace;
    font-size: 30px;
    text-shadow: 
        0 0 40px #d7ffdb,
        4px 4px 0px #000000;
    color: white;
}

.books {
    display: grid;
    font-family: monospace;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(20s, auto);
    text-shadow: 2px 2px 4px #000000;
    color: white;
    gap: 2px;
}

.books h2 {
    font-size: 25px;
    border-bottom: 1px solid #ddd;
}

.books p, .books span {
    font-size: 15px;
    border-bottom: 1px solid #aaaaaa;
    margin-top: 1px;
    margin-bottom: 1px;
}

.books p {
    font-style: italic;
}