.category {
    font-family: monospace;
    font-size: 30px;
    color: white;
}

.books {
    display: grid;
    font-family: monospace;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(20s, auto);
    color: white;
    gap: 2px;
}

.books h2 {
    font-size: 25px;
    border-bottom: 1px solid #ddd;
}

.books p, .books span {
    font-size: 15px;
    border-bottom: 1px solid #aaaaaa;
    margin-top: 1px;
    margin-bottom: 1px;
}

.books p {
    font-style: italic;
}